
    <h5>Recherche par nom</h5>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nom" aria-label="Nom" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="rechercher()">Rechercher</button>
      </div>
    </div>


    <div *ngIf="recherche">
      <ul>
        <li *ngFor="let obj of matriculesMock">{{obj.matricule}}</li>
      </ul>
    </div>


