<div>
  <button class="btn btn-primary">Hello</button>
</div>

<!--Carousel-voyage-->
<div id="idCarousel-voyage" class="carousel slide" data-ride="carousel" data-interval="5000">
  <ul class="carousel-indicators">
      <li data-target="#idCarousel-voyage" data-slide-to="0" class="active"></li>
      <li data-target="#idCarousel-voyage" data-slide-to="1"></li>
      <li data-target="#idCarousel-voyage" data-slide-to="2"></li>
      <li data-target="#idCarousel-voyage" data-slide-to="3"></li>
      <li data-target="#idCarousel-voyage" data-slide-to="4"></li>
  </ul>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img class="mx-auto d-block img-fluid w-100" src="./images/arashiyama.JPG" alt="Pont Togetsukyo à Arashiyama"/>
      </div>
      <div class="carousel-item">
          <img class="mx-auto d-block img-fluid w-100" src="./images/osaka.JPG" alt="Chateau d'Osaka"/>
      </div>
      <div class="carousel-item">
          <img class="mx-auto d-block img-fluid w-100" src="./images/toit.JPG" alt="Toiture d'un temple"/>
      </div>
      <div class="carousel-item">
          <img class="mx-auto d-block img-fluid w-100" src="./images/tokyo.JPG" alt="Rainbow bridge à Tokyo"/>
      </div>
      <div class="carousel-item">
          <img class="mx-auto d-block img-fluid w-100" src="./images/tori.JPG" alt="Tori de Fushimi Inari Taisha"/>
      </div>
  </div>
  <a class="carousel-control-prev" href="#idCarousel-voyage" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
  <a class="carousel-control-next" href="#idCarousel-voyage" data-slide="next"><span class="carousel-control-next-icon"></span></a>

</div>


<!--Acordéon-->
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne" style="background-color: #293F42;">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: white;">
          Formation Java Full Stack DevOps
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h2 style="color: #6A924A;">Formation Java Full Stack DevOps</h2>
        <h5 style="color: #6A924A;">DTA Ingénierie - Mai 2020 à septembre 2020</h5>
        Cette formation pratique vise à compléter et concrétiser les connaissances nécessaires pour le
        développement et la maintenance d’applications JAVA Full Stack dans un contexte DevOps avec Docker et Jenkins.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" style="background-color: #59646A;">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: white;">
          Autoformation
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <h2 style="color: #6A924A;">Autoformation</h2>
        <h5 style="color: #6A924A;">Openclassroom - Octobre 2019 à avril 2020</h5>
        Autoformation sur la plateforme de cours en ligne Openclassroom sur les sujets suivants :
        la prise en main de Linux, la gestion de projet, la découverte des langages Python et Java,
        la programmation orientée objet avec Python et Java, le fonctionnement des algorithmes,
        travailler en équipe et développer des sites web avec JavaEE.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" style="background-color: #728899;">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: white;">
          Master Ecologie-Environnement
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <h2 style="color: #6A924A;">Master Ecologie-Environnement, parcours Gestion des Habitats et des Bassins-Versants</h2>
        <h5 style="color: #6A924A;">Université de Rennes 1 - 2011 à 2013</h5>
        Master professionnel à spécialité écologie et environnement avec les cours suivants : sociologie de la négociation,
        droit de l'environnement, gestion et restauration des écosystèmes, anglais scientifique, analyses spatiales en biologie
        et gestion des risques hydrologiques.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour" style="background-color: #adbfce;">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color: white;">
          Licence de Biologie
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <h2 style="color: #6A924A;">Licence de Biologie, spécialité Biologie de Organisme</h2>
        <h5 style="color: #6A924A;">Université de Rennes 1 - 2008 à 2011</h5>
        Licence de biologie avec des cours tels que : la biologie animale, végétale et cellulaire, une introduction à
        l'écologie et aux pratiques de diagnostiques, la microbiologie, la chimie et la physique de l'environnement, les
        ressources environnementales, éthologie et biodiversité.
      </div>
    </div>
  </div>
</div>
