
<div>
  <div class="row" *ngIf="collegue">
    <div class="col-12 col-md-4">
      <img src="{{collegue.photoUrl}}" class="img-fluid rounded" alt="photo de profil">
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col">
          <p>Matricule :</p>
        </div>
        <div class="col">
          <p>{{collegue.matricule}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Nom :</p>
        </div>
        <div class="col">
          <p>{{collegue.nom | uppercase}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Prenom : </p>
        </div>
        <div class="col">
          <p>{{collegue.prenoms}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p >Date de naissance : </p>
        </div>
        <div class="col">
          <p>{{collegue.dateDeNaissance | date : 'mediumDate'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Email : </p>
        </div>
        <div *ngIf="!modif" class="col">
          <p>{{collegue.email}}</p>
        </div>
        <div *ngIf="modif" class="col">
          <input type="text" id="email" name="email">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>PhotoUrl : </p>
        </div>
        <div *ngIf="!modif" class="col">
          <p>{{collegue.photoUrl}}</p>
        </div>
        <div *ngIf="modif" class="col">
          <input type="text" id="photo" name="photo">
        </div>
      </div>

    </div>
  </div>

  <!--Boutons-->
  <div class="row">
    <div class="col">
      <button *ngIf="!modif" class="btn btn-outline-secondary mr-2" (click)="modifier()">Modifier</button>
      <button *ngIf="modif" class="btn btn-outline-secondary mr-2" (click)="valider()">Valider</button>
    </div>
    <div class="col">
      <button class="btn btn-outline-secondary mr-2" routerLink="/galerie">Retour</button>
    </div>
  </div>

</div>
