<h1>À propos de cette application</h1>
<p>L'application "Administration Collègue" à été créée dans le cadre d'une formation de développeurs Java
  fullstack dans un contexte DevOps chez <a target="_blank" rel="noopener noreferrer" href="https://www.dta-ingenierie.fr/">DTA Ingénierie</a>.
  La création de cette application permet d'apprendre à créer une application Angular avec une partie backend
  développé dans un context Spring en simulant un système de gestion des collègues.
  <br/>
  Vous trouverez ici le lien vers le dépot GitHub de l'application <a target="_blank" rel="noopener noreferrer" href="https://github.com/Gaelleb22/collegues-front">"Administration Collègues"</a> et sa partie <a target="_blank"
  rel="noopener noreferrer" href="https://github.com/Gaelleb22/collegues-api">backend</a>.
</p>

