<div class="row">
  <div class="col-md-3 col-sm-5">
    <img src="{{col.photoUrl}}" class="img-fluid rounded" style="width: 100%;" alt="Yuki-chan">
  </div>
  <div class="col-md-9 col-sm-6" style="font-size: larger;">
    <li>Matricule : {{col.matricule}}</li>
    <li>Nom : {{col.nom}}</li>
    <li>Prenom : {{col.prenom}}</li>
    <li>Date de naissance : {{col.dateDeNaissance}}</li>
    <li>Email : {{col.email}}</li>
  </div>
</div>
<div class="row" style="margin-top: 50px; text-align: center;">
  <div class="col">
    <button class="btn btn-outline-secondary mr-2" (click)="modifier()">Modifier</button>
  </div>
  <div class="col">
    <button class="btn btn-outline-secondary mr-2" (click)="nouveauCollegue()">Créer un nouveau collègue</button>
  </div>
</div>
